* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Segoe UI", serif;

    --input-h: 45px;
    --copy-btn-w: 60px;
    --radius: 10px;
    --font-s: 15pt;
    --input-lp: 12px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background: url("res/bg.jpg") center center;
    position: relative;

    overflow: hidden;
}

.window {
    background: rgba(255, 255, 255, 0.8);

    padding: 10px 20px;
    border-radius: 15px;

    z-index: 20;
}

.window *:not(div) {
    margin-bottom: 10px;
}

.title {
    margin-bottom: 20px;
}

.key-field {
    width: calc(100% - var(--copy-btn-w) - 5px);
    height: var(--input-h);

    border-radius: var(--radius) 0 0 var(--radius);
    border: none;

    padding-left: var(--input-lp);
    font-size: var(--font-s);
}

.key-field-init {
    color: darkgray;
}

.btn {
    border: none;
    background: deepskyblue;
    border-radius: var(--radius);
    color: white;
}

.btn:hover {
    background: dodgerblue;
}

.btn:active {
    background: lightskyblue;
}

.btn:disabled {
    background: darkgray;
}

.copy-key-btn {
    width: var(--copy-btn-w);
    height: var(--input-h);

    border-radius: 0 var(--radius) var(--radius) 0;
    font-size: var(--font-s);
}

.gen-btn {
    width: 100%;
    height: var(--input-h);

    font-size: var(--font-s);
    font-weight: 700;
}

*:focus{
    outline: none;
}

.dpd {
    height: var(--input-h);
    border-radius: var(--radius);
    font-size: var(--font-s);
    border: none;
    width: calc(50% - 5px / 2);
    padding-left: var(--input-lp);
    -moz-appearance: none;
}

#prod-sel {
    border-radius: var(--radius) 0 0 var(--radius);
}

#ver-sel {
    border-radius: 0 var(--radius) var(--radius) 0;
}

#sign {
    position: absolute;
    bottom: 10px;
    right: 10px;

    user-select: none;
}

.note {
    position: absolute;
    top: -60px;
    color: white;
    padding: var(--input-lp);
    border-radius: var(--radius);

    transition: top 500ms;
}

.note-visible {
    top: 20px;
}

#gh {
    position: absolute;
    bottom: 10px;
    left: 10px;

    text-decoration: none;
}

#gh-tt {

    background: #303030AA;
    color: white;
    padding: 3px 6px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: 500ms;
    visibility: hidden;
    opacity: 0;
}

#gh-tt::before {
    content: "";
    position: absolute;
    top: 37%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#gh:hover #gh-tt {
    visibility: visible;
    opacity: 1;
}